
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="/" ><img src="https://cdn.glitch.me/a81e3a0e-1158-4a11-bdef-9d223f8f0432%2Flogo-comp-inovart.png?v=1638722316672" width="250px" alt=""></a>
           
            <p>Sua empresa, em destaque.</p>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>InovArt</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>  Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a>
      </div>
    </div>
  </footer><!-- End Footer -->


<div class="back-to-top d-flex align-items-center justify-content-center">
  <a href="#" ><i class="bi bi-arrow-up-short"></i></a>
</div>

<style>
  .buttonOrc {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 996;
    bottom: 10px;
    left: 13px;
    margin: 0;
    padding: 5px 3px;
    background: #7cc576;
    border-radius: 4px;
    transition: all 0.4s;
  }

  .buttonOrc.active {
    visibility: visible;
    opacity: 1;
  }
</style>


<div class="buttonOrc">
  <a href="#pricing"><button type="button" class="btn btn-ligth" style="color:white;">Quero fazer um orçamento!</button></a>
</div>




  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
