<!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#services">Serviços</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfólio</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Valores</a></li>
          <li class="dropdown"><a href="#"><span>Produtos</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>Papel</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Impressão A4</a></li>
                  <li><a href="#">Cartão visita</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Lona</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Fachada</a></li>
                  <li><a href="#">Banner</a></li>
                  <li><a href="#">Cavalete</a></li>
                  <li><a href="#">Outdoor</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Adesivo</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Adesivo comum</a></li>
                  <li><a href="#">Adesivo perfurado</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Outros</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Logotipo</a></li>
                  <li><a href="#">Arte digital</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->